@using Edu.Controller.Common
@using Edu.Infrastructure.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">教育管理软件</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="1">前台业务<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Home/Contract"  data-real="5">学生咨询</a></li>
                                    <li><a href="~/Home/Index" data-real="6">咨询信息查询</a></li>
                                    <li><a href="~/Home/Index" data-real="7">学生报名</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Home/Index" data-real="8">办理续费</a></li>
                                    <li><a href="~/Home/Index" data-real="9">办理退费</a></li>
                                    <li><a href="~/Home/Index" data-real="10">办理停课</a></li>
                                    <li><a href="~/Home/Index" data-real="11">办理转班</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Home/Index" data-real="12">学生信息</a></li>
                                    <li><a href="~/Home/Index" data-real="13">数据导入</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="2">教务教学<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Home/Index" data-real="17">考勤记录</a></li>
                                    <li><a href="~/Home/Index" data-real="18">教师排课表</a></li>
                                    <li><a href="~/Home/Index" data-real="19">教室排课表</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="3">财务管理<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Home/Index" data-real="20">学费明细</a></li>
                                    <li><a href="~/Home/Index" data-real="21">账户管理</a></li>
                                    <li><a href="~/Home/Index" data-real="22">财务报表</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Home/Index" data-real="23">其他收入</a></li>
                                    <li><a href="~/Home/Index" data-real="24">支出项目</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="4">学校管理<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Home/Index" data-real="25">校区管理</a></li>
                                    <li><a href="~/Home/Index" data-real="26">课程设置</a></li>
                                    <li><a href="~/Home/Index" data-real="27">教材杂项</a></li>
                                    <li><a href="~/Home/Index" data-real="28">班级设置</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span style="margin-left: 10px;">@ApplicationContext.UserName</span><span style="margin-left: 5px;" class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Role/List" data-real="29">角色管理</a></li>
                                    <li><a href="~/Home/Index" data-real="30">员工管理</a></li>
                                    <li><a href="~/Home/Index" data-real="31">系统日志</a></li>
                                    <li><a href="~/Home/Index" data-real="32">参数设置</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/User/SignOut">退出登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

<script>
    var listStr = '@WebApplicationContext.RoleMenuList';
    var reg = /&quot;/g;
    var listStrAll = listStr.replace(reg, "\"");
    debugger;
    var context = {
        RoleMenuList: eval(listStrAll)
    };

    $('a.dropdown-toggle')
        .mouseover(function() {
            $(this).parent().addClass('open');
        });

    $('li.dropdown').mouseover(function () {
        $(this).addClass('open');
    }).mouseout(function () {
        $(this).removeClass('open');
    });
    $(document)
        .ready(function() {
            $("ul.dropdown-menu li a")
                .each(function() {
                    var realId = this.dataset.real;
                    if (typeof (realId) != "undefined") {
                        var isExist = false;
                        for (var i = 0; i < context.RoleMenuList.length; i++) {
                            var menu = context.RoleMenuList[i];
                            if (menu.menuId == realId) {
                                isExist = true;
                            }
                        }
                        if (isExist) {
                            $(this).show();
                        } else {
                            $(this).remove();
                        }
                    }
                });
            $("a.dropdown-toggle")
                .each(function() {
                    var realId = this.dataset.real;
                    if (typeof (realId) != "undefined") {
                        var isExist = false;
                        for (var i = 0; i < context.RoleMenuList.length; i++) {
                            var menu = context.RoleMenuList[i];
                            if (menu.menuId == realId) {
                                isExist = true;
                            }
                        }
                        if (isExist) {
                            $(this).show();
                        } else {
                            $(this).remove();
                        }
                    }
                });
        });
</script>
</body>
</html>