@using Edu.Controller.Common
@using Edu.Infrastructure.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ajaxFunc.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">教育管理软件</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="1">前台业务<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-real="5" data-toggle="modal" data-target="#addConsultModal">学生咨询</a></li>
                                    <li><a href="#" data-real="6">咨询信息查询</a></li>
                                    <li><a href="~/Entry/SignUp" data-real="7">学生报名</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Home/Index" data-real="8">办理续费</a></li>
                                    <li><a href="~/Home/Index" data-real="9">办理退费</a></li>
                                    <li><a href="~/Home/Index" data-real="10">办理停课</a></li>
                                    <li><a href="~/Home/Index" data-real="11">办理转班</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Student/ConsultList" data-real="12">学生信息</a></li>
                                    <li><a href="~/Home/Index" data-real="13">数据导入</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="2">教务教学<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Home/Index" data-real="17">考勤记录</a></li>
                                    <li><a href="~/Home/Index" data-real="18">教师排课表</a></li>
                                    <li><a href="~/Home/Index" data-real="19">教室排课表</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="3">财务管理<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Home/Index" data-real="20">学费明细</a></li>
                                    <li><a href="~/Home/Index" data-real="21">账户管理</a></li>
                                    <li><a href="~/Home/Index" data-real="22">财务报表</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Home/Index" data-real="23">其他收入</a></li>
                                    <li><a href="~/Home/Index" data-real="24">支出项目</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-real="4">学校管理<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Campus/List" data-real="25">校区管理</a></li>
                                    <li><a href="~/Course/CourseTypeList" data-real="26">课程类别设置</a></li>
                                    <li><a href="~/Course/CourseList" data-real="27">课程设置</a></li>
                                    <li><a href="~/Bookfee/List" data-real="28">教材杂项</a></li>
                                    <li><a href="~/Classes/List" data-real="29">班级设置</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span style="margin-left: 10px;">@ApplicationContext.UserName</span><span style="margin-left: 5px;" class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/User/Update">个人信息</a></li>
                                    <li><a href="~/User/Password">修改密码</a></li>
                                    <li><a href="~/Role/List" data-real="29">角色管理</a></li>
                                    <li><a href="~/User/List" data-real="30">员工管理</a></li>
                                    <li><a href="~/User/Log" data-real="31">系统日志</a></li>
                                    <li><a href="~/Home/Index" data-real="32">参数设置</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/User/SignOut">退出登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- 模态框（Modal）添加学生咨询 -->
                    <div class="modal fade" id="addConsultModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h5 class="modal-title" id="addModalLabel">学生咨询</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <div class="form-horizontal" id="addForm" role="form">
                                            <div class="form-group">
                                                <label for="txtCampusName" class="col-sm-3 control-label">学生名称</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="txtCampusName" name="txtCampusName" placeholder="请输入名称">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="selectCampusType" class="col-sm-3 control-label">校区类型</label>
                                                <div class="col-sm-9">
                                                    <select id="selectCampusType" class="form-control">
                                                        <option>直营</option>
                                                        <option>加盟</option>
                                                        <option>合作</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtContract" class="col-sm-3 control-label">负责人</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="txtContract" name="txtContract" placeholder="请输入负责人姓名">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtContractTel" class="col-sm-3 control-label">联系电话</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="txtContractTel" name="txtContractTel" placeholder="请输入负责人联系电话">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtTel" class="col-sm-3 control-label">校区总机</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="txtTel" name="txtTel" placeholder="请输入校区总机">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtAddress" class="col-sm-3 control-label">地址</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" rows="3" id="txtAddress" name="txtAddress" placeholder="请输入地址"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        关闭
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="btnAddCampus">
                                        提交
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

<script>
    var listStr = '@WebApplicationContext.RoleMenuList';
    var reg = /&quot;/g;
    var listStrAll = listStr.replace(reg, "\"");
    var context = {
        RoleMenuList: eval(listStrAll)
    };

    $('a.dropdown-toggle')
        .mouseover(function() {
            $(this).parent().addClass('open');
        });

    $('li.dropdown').mouseover(function () {
        $(this).addClass('open');
    }).mouseout(function () {
        $(this).removeClass('open');
    });
    $(document)
        .ready(function() {
            $("ul.dropdown-menu li a")
                .each(function() {
                    var realId = this.dataset.real;
                    if (typeof (realId) != "undefined") {
                        var isExist = false;
                        for (var i = 0; i < context.RoleMenuList.length; i++) {
                            var menu = context.RoleMenuList[i];
                            if (menu.menuId == realId) {
                                isExist = true;
                            }
                        }
                        if (isExist) {
                            $(this).show();
                        } else {
                            $(this).remove();
                        }
                    }
                });
            $("a.dropdown-toggle")
                .each(function() {
                    var realId = this.dataset.real;
                    if (typeof (realId) != "undefined") {
                        var isExist = false;
                        for (var i = 0; i < context.RoleMenuList.length; i++) {
                            var menu = context.RoleMenuList[i];
                            if (menu.menuId == realId) {
                                isExist = true;
                            }
                        }
                        if (isExist) {
                            $(this).show();
                        } else {
                            $(this).remove();
                        }
                    }
                });
        });
</script>
</body>
</html>