@model IEnumerable<Edu.Model.Core.Student>
@{
    ViewBag.Title = "List";
}
<ol class="breadcrumb">
    <li>学生列表</li>
</ol>
<div class="row well well-sm" style="margin:10px 0px;">
    <div class="col-md-12">
        <div class="form-group">
            <label for="txtName" class="col-sm-1 control-label">姓名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="txtName" name="txtName" placeholder="请输入学生姓名">
            </div>
            <label for="txtTel" class="col-sm-1 control-label">电话尾号</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="txtTel" name="txtTel" placeholder="请输入电话尾号">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-search">  </span> 查询</button>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>电话</th>
                    <th>课程</th>
                    <th>班级</th>
                    <th>代课教师</th>
                    <th>实收费用</th>
                    <th>状态</th>
                    <th>报名时间</th>
                    <th>经办校区</th>
                    <th>经办人</th>
                    <th><span class="glyphicon glyphicon-align-justify"></span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.RegionName</td>
                        @{
                            if (item.Sex == 1)
                            {
                                <td>男</td>
                            }
                            else if (item.Sex == 0)
                            {
                                <td>女</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        <td>@item.Grade</td>
                        <td>@item.Tel1</td>
                        <td>@item.Address</td>
                        <td>@item.CreateBy</td>
                        <td>
                            @if (item.CreateTime != null)
                            {
                                @item.CreateTime.Value.ToString("yyyy-MM-dd hh:mm:ss")
                            }
                        </td>
                        <td>@item.ModifyBy</td>
                        <td>
                            @if (item.ModifyTime != null)
                            {
                                @item.ModifyTime.Value.ToString("yyyy-MM-dd hh:mm:ss")
                            }
                        </td>
                        <td>
                            <div class="btn-group">

                                <button class="btn btn-primary"> <i class="glyphicon glyphicon-jpy"></i> 续费</button>
                                @*<ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-target="#updateModal" data-val="@item.Id" onclick="fullData(this);">续费</a></li>
                                        <li><a data-val="@item.Id" onclick="editData(this);">编辑</a></li>
                                    </ul>*@
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function fullData() {

    }
    function editData() {

    }

</script>