@model IEnumerable<Edu.Model.Core.Role>
@{
    ViewBag.Title = "角色列表";
}

<link href="~/Content/ztree/zTreeStyle.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ztree/jquery.ztree.core.min.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.excheck.min.js"></script>
<style type="text/css">
    .modal-dialog {
        right: auto;
        left: 50%;
        width: 40%;
        padding-top: 30px;
        padding-bottom: 30px;
  }
</style>
<script>
    var setting = {
        view: {
            selectedMulti: false
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            beforeCheck: beforeCheck,
            onCheck: onCheck
        }
    };

    var zNodes = [];
    var currentRoleId = 0;

    var code, log, className = "dark";
    function beforeCheck(treeId, treeNode) {
        className = (className === "dark" ? "":"dark");
        showLog("[ "+getTime()+" beforeCheck ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name );
        return (treeNode.doCheck !== false);
    }
    function onCheck(e, treeId, treeNode) {
        showLog("[ "+getTime()+" onCheck ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name );
    }
    function showLog(str) {
        if (!log) log = $("#log");
        log.append("<li class='"+className+"'>"+str+"</li>");
        if(log.children("li").length > 6) {
            log.get(0).removeChild(log.children("li")[0]);
        }
    }
    function getTime() {
        var now= new Date(),
            h=now.getHours(),
            m=now.getMinutes(),
            s=now.getSeconds(),
            ms=now.getMilliseconds();
        return (h+":"+m+":"+s+ " " +ms);
    }

    function checkNode(e) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
            type = e.data.type,
            nodes = zTree.getSelectedNodes();
        if (type.indexOf("All")<0 && nodes.length == 0) {
            alert("请先选择一个节点");
        }

        if (type == "checkAllTrue") {
            zTree.checkAllNodes(true);
        } else if (type == "checkAllFalse") {
            zTree.checkAllNodes(false);
        } else {
            var callbackFlag = $("#callbackTrigger").attr("checked");
            for (var i=0, l=nodes.length; i<l; i++) {
                if (type == "checkTrue") {
                    zTree.checkNode(nodes[i], true, false, callbackFlag);
                } else if (type == "checkFalse") {
                    zTree.checkNode(nodes[i], false, false, callbackFlag);
                } else if (type == "toggle") {
                    zTree.checkNode(nodes[i], null, false, callbackFlag);
                }else if (type == "checkTruePS") {
                    zTree.checkNode(nodes[i], true, true, callbackFlag);
                } else if (type == "checkFalsePS") {
                    zTree.checkNode(nodes[i], false, true, callbackFlag);
                } else if (type == "togglePS") {
                    zTree.checkNode(nodes[i], null, true, callbackFlag);
                }
            }
        }
    }

    function setAutoTrigger(e) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        zTree.setting.check.autoCheckTrigger = $("#autoCallbackTrigger").attr("checked");
        $("#autoCheckTriggerValue").html(zTree.setting.check.autoCheckTrigger ? "true" : "false");
    }

    function handlerModalData(e) {
        //var zNodes = [
        //{ id: 1, pId: 0, name: "随意勾选 1", open: true },
        //{ id: 11, pId: 1, name: "随意勾选 1-1", open: true, checked: true },
        //{ id: 12, pId: 1, name: "随意勾选 1-2", open: true },
        //{ id: 121, pId: 12, name: "随意勾选 1-2-1", open: true },
        //{ id: 122, pId: 12, name: "随意勾选 1-2-2", open: true },
        //{ id: 2, pId: 0, name: "禁止勾选 2", open: true },
        //{ id: 21, pId: 2, name: "禁止勾选 2-1", open: true },
        //{ id: 22, pId: 2, name: "禁止勾选 2-2", open: true },
        //{ id: 221, pId: 22, name: "禁止勾选 2-2-1", open: true },
        //{ id: 222, pId: 22, name: "禁止勾选 2-2-2", open: true },
        //{ id: 23, pId: 2, name: "禁止勾选 2-3", open: true }
        //];
        var roleId = $(e).attr("data-real");
        currentRoleId = roleId; 
        var roleName = $(e).attr("data-text");
        $.get("GetMenuList?roleId=" + roleId,
            function (data) {
                var result = JSON.parse(data);
                if(result.code === 200){
                    var zNodes = result.items;
                    $("#myModalLabel").html(roleName + "-权限编辑");
                    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                    $("#checkTrue").bind("click", { type: "checkTrue" }, checkNode);
                    $("#checkFalse").bind("click", { type: "checkFalse" }, checkNode);
                    $("#toggle").bind("click", { type: "toggle" }, checkNode);
                    $("#checkTruePS").bind("click", { type: "checkTruePS" }, checkNode);
                    $("#checkFalsePS").bind("click", { type: "checkFalsePS" }, checkNode);
                    $("#togglePS").bind("click", { type: "togglePS" }, checkNode);
                    $("#checkAllTrue").bind("click", { type: "checkAllTrue" }, checkNode);
                    $("#checkAllFalse").bind("click", { type: "checkAllFalse" }, checkNode);
                    $("#autoCallbackTrigger").bind("change", {}, setAutoTrigger);
                }
            });
    }

    function commitData() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var node = treeObj.getNodes();
        var nodes = treeObj.transformToArray(node);
        var params = JSON.stringify(nodes);
        debugger;
        $.post("Commit",{"parametes":params},
            function (data) {
                var result = JSON.parse(data);
                if(result.code == 200){
                    $('#roleModal').modal('hide');
                }
            },"json");
    }

</script>

<div class="container body-content">
    <ol class="breadcrumb">
        <li>角色管理</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default" onclick="handlerModalData(this);" data-toggle="modal" data-target="#roleModal">创建角色</button>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>学校</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>修改人</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.SchoolName</td>
                        <td>@item.CreateBy</td>
                        <td>
                            @if (item.CreateTime != null)
                            {
                                @item.CreateTime.Value.ToString("yyyy-MM-dd hh:mm:ss")
                            }
                        </td>
                        <td>@item.ModifyBy</td>
                        <td>
                            @if (item.ModifyTime != null)
                            {
                                @item.ModifyTime.Value.ToString("yyyy-MM-dd hh:mm:ss")
                            }
                        </td>
                        <td>
                            <button class="btn btn-default" onclick="handlerModalData(this);" data-toggle="modal" data-target="#roleModal" data-real="@item.Id" data-text="@item.Name">编辑权限</button>
                            <button class="btn btn-default" data-real="@item.Id" data-text="@item.Name">删除</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <!-- 模态框（Modal）编辑角色权限 -->
            <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h5 class="modal-title" id="myModalLabel"></h5>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                关闭
                            </button>
                            <button type="button" class="btn btn-primary" onclick="commitData();">
                                提交更改
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
        </div>
</div>

