@model IEnumerable<Edu.Model.Core.Role>
@{
    ViewBag.Title = "角色列表";
}

<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<link href="~/Content/ztree/zTreeStyle.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ztree/jquery.ztree.core.min.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.excheck.min.js"></script>
<script src="~/Scripts/bootstrapValidator.js"></script>
<style type="text/css">
    .modal-dialog {
        right: auto;
        width: 40%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .form-horizontal .form-group i{
        position: absolute;
        font-size: 17px;
        color: #c8c8c8;
        transition : all 0.5s ease 0s;
    }
    .form-horizontal .form-control:focus + i{
        color: #00b4ef;
    }
</style>
<script>
    var setting = {
        view: {
            selectedMulti: false
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            beforeCheck: beforeCheck,
            onCheck: onCheck
        }
    };

    var zNodes = [];
    var currentRoleId = 0;

    var code, log, className = "dark";
    function beforeCheck(treeId, treeNode) {
        className = (className === "dark" ? "":"dark");
        showLog("[ "+getTime()+" beforeCheck ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name );
        return (treeNode.doCheck !== false);
    }
    function onCheck(e, treeId, treeNode) {
        showLog("[ "+getTime()+" onCheck ]&nbsp;&nbsp;&nbsp;&nbsp;" + treeNode.name );
    }
    function showLog(str) {
        if (!log) log = $("#log");
        log.append("<li class='"+className+"'>"+str+"</li>");
        if(log.children("li").length > 6) {
            log.get(0).removeChild(log.children("li")[0]);
        }
    }
    function getTime() {
        var now= new Date(),
            h=now.getHours(),
            m=now.getMinutes(),
            s=now.getSeconds(),
            ms=now.getMilliseconds();
        return (h+":"+m+":"+s+ " " +ms);
    }

    function checkNode(e) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
            type = e.data.type,
            nodes = zTree.getSelectedNodes();
        if (type.indexOf("All")<0 && nodes.length == 0) {
            alert("请先选择一个节点");
        }

        if (type == "checkAllTrue") {
            zTree.checkAllNodes(true);
        } else if (type == "checkAllFalse") {
            zTree.checkAllNodes(false);
        } else {
            var callbackFlag = $("#callbackTrigger").attr("checked");
            for (var i=0, l=nodes.length; i<l; i++) {
                if (type == "checkTrue") {
                    zTree.checkNode(nodes[i], true, false, callbackFlag);
                } else if (type == "checkFalse") {
                    zTree.checkNode(nodes[i], false, false, callbackFlag);
                } else if (type == "toggle") {
                    zTree.checkNode(nodes[i], null, false, callbackFlag);
                }else if (type == "checkTruePS") {
                    zTree.checkNode(nodes[i], true, true, callbackFlag);
                } else if (type == "checkFalsePS") {
                    zTree.checkNode(nodes[i], false, true, callbackFlag);
                } else if (type == "togglePS") {
                    zTree.checkNode(nodes[i], null, true, callbackFlag);
                }
            }
        }
    }

    function setAutoTrigger(e) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        zTree.setting.check.autoCheckTrigger = $("#autoCallbackTrigger").attr("checked");
        $("#autoCheckTriggerValue").html(zTree.setting.check.autoCheckTrigger ? "true" : "false");
    }

    function showUpdateRoleMenuModal(e) {
        //var zNodes = [
        //{ id: 1, pId: 0, name: "随意勾选 1", open: true },
        //{ id: 11, pId: 1, name: "随意勾选 1-1", open: true, checked: true },
        //{ id: 12, pId: 1, name: "随意勾选 1-2", open: true },
        //{ id: 121, pId: 12, name: "随意勾选 1-2-1", open: true },
        //{ id: 122, pId: 12, name: "随意勾选 1-2-2", open: true },
        //{ id: 2, pId: 0, name: "禁止勾选 2", open: true },
        //{ id: 21, pId: 2, name: "禁止勾选 2-1", open: true },
        //{ id: 22, pId: 2, name: "禁止勾选 2-2", open: true },
        //{ id: 221, pId: 22, name: "禁止勾选 2-2-1", open: true },
        //{ id: 222, pId: 22, name: "禁止勾选 2-2-2", open: true },
        //{ id: 23, pId: 2, name: "禁止勾选 2-3", open: true }
        //];
        var roleId = e.dataset.val;;
        currentRoleId = roleId;
        var roleName = e.dataset.text;
        $("#roleMenuModalLabel").html(roleName + "-菜单权限编辑");
        $.get("GetList?roleId=" + roleId,
            function (data) {
                var result = JSON.parse(data);
                if(result.code === 200){
                    var zNodes = result.items;
                    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                    $("#checkTrue").bind("click", { type: "checkTrue" }, checkNode);
                    $("#checkFalse").bind("click", { type: "checkFalse" }, checkNode);
                    $("#toggle").bind("click", { type: "toggle" }, checkNode);
                    $("#checkTruePS").bind("click", { type: "checkTruePS" }, checkNode);
                    $("#checkFalsePS").bind("click", { type: "checkFalsePS" }, checkNode);
                    $("#togglePS").bind("click", { type: "togglePS" }, checkNode);
                    $("#checkAllTrue").bind("click", { type: "checkAllTrue" }, checkNode);
                    $("#checkAllFalse").bind("click", { type: "checkAllFalse" }, checkNode);
                    $("#autoCallbackTrigger").bind("change", {}, setAutoTrigger);
                }
            });
    }

    function commitRoleMenuData() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var node = treeObj.getNodes();
        var nodes = treeObj.transformToArray(node);
        var params = JSON.stringify(nodes);
        $.post("Commit", { "roleId" :currentRoleId, "parametes": params },
             function (data) {
                 var result = JSON.parse(data);
                 if(result.code === 200){
                     $('#roleMenuModal').modal('hide');
                     window.location.reload();
                 }
             });
    }

    function showUpdateRoleModal(e) {
        var roleId = e.dataset.val;
        var roleName =e.dataset.text;
        var desc = e.dataset.tag;
        $("#updateModalLabel").html(roleName + "-编辑");
        $("#txtUpdateName").val(roleName);
        $("#txtUpdateDescription").val(desc);
        currentRoleId = roleId;
    }
    
    function deleteRole(e) {
        var roleId = e.dataset.val;
        $.ajax({
            url: "Delete",
            type: "delete",
            data: JSON.stringify({ "roleId": roleId }),
            contentType: 'application/json',
            success: function (data) {
                var result = JSON.parse(data);
                if (result.code === 200) {
                    window.location.reload();
                }
            }
        });
    }
</script>

<ol class="breadcrumb">
    <li>角色管理</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" data-toggle="modal" data-target="#addModal">创建角色</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>名称</th>
                <th>学校</th>
                <th>创建人</th>
                <th>创建时间</th>
                <th>修改人</th>
                <th>修改时间</th>
                <th><span class="glyphicon glyphicon-align-justify"></span></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.SchoolName</td>
                    <td>@item.CreateBy</td>
                    <td>
                        @if (item.CreateTime != null)
                        {
                            @item.CreateTime.Value.ToString("yyyy-MM-dd hh:mm:ss")
                        }
                    </td>
                    <td>@item.ModifyBy</td>
                    <td>
                        @if (item.ModifyTime != null)
                        {
                            @item.ModifyTime.Value.ToString("yyyy-MM-dd hh:mm:ss")
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                操作 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a onclick="showUpdateRoleModal(this);" data-toggle="modal" data-target="#updateRoleModal" data-val="@item.Id" data-text="@item.Name" data-tag="@item.Description">编辑</a></li>
                                <li><a onclick="showUpdateRoleMenuModal(this);" data-toggle="modal" data-target="#roleMenuModal" data-val="@item.Id" data-text="@item.Name">编辑权限</a></li>
                                <li><a onclick="deleteRole(this);" data-val="@item.Id" data-text="@item.Name">删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <!-- 模态框（Modal）编辑角色 -->
        <div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="updateModalLabel"></h5>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-horizontal" role="form" id="updateForm">
                                <div class="form-group">
                                    <label for="txtUpdateName" class="col-sm-3 control-label">名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtUpdateName" name="txtUpdateName" placeholder="请输入名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtUpdateDescription" class="col-sm-3 control-label">描述</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="3" id="txtUpdateDescription" placeholder="请输入描述"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="btnUpdateRole">
                            提交更改
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 模态框（Modal）创建角色 -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="addModalLabel">创建角色</h5>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-horizontal" id="addForm" role="form">
                                <div class="form-group">
                                    <label for="txtName" class="col-sm-3 control-label">名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtName" name="txtName" placeholder="请输入名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDescription" class="col-sm-3 control-label">描述</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="3" id="txtDescription" name="txtDescription" placeholder="请输入描述"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btnAddRole">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 模态框（Modal）编辑角色权限 -->
        <div class="modal fade" id="roleMenuModal" tabindex="-1" role="dialog" aria-labelledby="roleMenuModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="roleMenuModalLabel"></h5>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" onclick="commitRoleMenuData();">
                            提交更改
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
<script>
    $(document)
        .ready(function() {
            $('#addForm')
                .bootstrapValidator({
                    message: '值不能为空',
                    submitButtons: '#btnAddRole',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        txtName: {
                            message: '用户名验证失败',
                            validators: {
                                notEmpty: {
                                    message: '角色名称不能为空'
                                }
                            }
                        }
                    }
                });
            $('#updateForm')
                .bootstrapValidator({
                    message: '值不能为空',
                    submitButtons: '#btnAddRole',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        txtUpdateName: {
                            message: '用户名验证失败',
                            validators: {
                                notEmpty: {
                                    message: '角色名称不能为空'
                                }
                            }
                        }
                    }
                });
            $("#btnAddRole")
                .click(function() {
                    $("#addForm").bootstrapValidator('validate'); //提交验证  
                    if ($("#addForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码  
                        //验证成功后的操作，如ajax 
                        var name = $("#txtName").val();
                        var desc = $("#txtDescription").val();
                        var role = { Name: name, Description: desc };
                        $.ajax({
                            url: "Add",
                            type: "post",
                            data: JSON.stringify(role),
                            contentType: 'application/json; charset=utf-8',
                            success: function(data) {
                                var result = JSON.parse(data);
                                if (result.code === 200) {
                                    window.location.reload();
                                }
                            }
                        });
                    }
                });
            $("#btnUpdateRole")
                .click(function() {
                    $("#updateForm").bootstrapValidator('validate'); //提交验证  
                    if ($("#updateForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码  
                        //验证成功后的操作，如ajax 
                        var name = $("#txtUpdateName").val();
                        var desc = $("#txtUpdateDescription").val();
                        var model = {
                            RoleId: currentRoleId,
                            Name: name,
                            Description: desc
                        };
                        $.ajax({
                            url: "Update",
                            type: "put",
                            data: JSON.stringify(model),
                            contentType: 'application/json; charset=utf-8',
                            success: function(data) {
                                var result = JSON.parse(data);
                                if (result.code === 200) {
                                    window.location.reload();
                                }
                            }
                        });
                    }
                });
        });
</script>

