@model IEnumerable<Edu.Model.Core.Classes>
@{
    ViewBag.Title = "班级列表";
}

<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<link href="~/Content/ztree/zTreeStyle.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.core.min.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.excheck.min.js"></script>
<script src="~/Scripts/bootstrapValidator.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/jquery.nicescroll.min.js"></script>

<link href='~/Content/calendar/fullcalendar.min.css' rel='stylesheet' />
<link href='~/Content/calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='~/Scripts/calendar/moment.min.js'></script>
<script src='~/Scripts/calendar/fullcalendar.min.js'></script>
<script src='~/Scripts/calendar/locale-all.js'></script>
<ol class="breadcrumb">
    <li>班级管理</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" data-toggle="modal" data-target="#addModal" onclick="showCreateObjModal();">添加班级</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>所属校区</th>
                    <th>课程名称</th>
                    <th>班级名称</th>
                    <th>计费方式</th>
                    <th>单价</th>
                    <th>教师</th>
                    <th>开班日期</th>
                    <th>额定学生数</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SchoolRegionName</td>
                        <td>@item.CourseName</td>
                        <td>@item.Name</td>
                        <td>@item.FeeType</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Teacher</td>
                        <td>@item.StartDate</td>
                        <td>@item.MaxCount</td>
                        <td>@item.Status</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a onclick="initCalendar(this);" data-toggle="modal" data-target="#calendarModal" data-val="@item.Id" data-name="@item.Name" data-address="@item.Address" data-tch="@item.Teacher" data-region="@item.SchoolRegionId">上课时段</a></li>
                                    <li><a onclick="showUpdateClassModal(this);" data-toggle="modal" data-target="#addModal" data-val="@item.Id" data-name="@item.Name" data-address="@item.Address">编辑</a></li>
                                    <li><a onclick="showDeleteClassAlert(this);" data-toggle="modal" data-target="#deleteClassModal" data-val="@item.Id" data-text="@item.Name">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- 模态框（Modal）创建班级 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addClassModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" style="width:40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="addClassModalLabel"></h5>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="addClassForm" role="form">
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName" class="col-sm-3 control-label">班级名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtClassName" name="txtClassName" placeholder="请输入名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectCampus_add" class="col-sm-3 control-label">所属校区</label>
                                    <div class="col-sm-9">
                                        <select id="selectCampus" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectCourseType_add" class="col-sm-3 control-label">课程类别</label>
                                    <div class="col-sm-9">
                                        <select id="selectCourseType_add" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectCourse_add" class="col-sm-3 control-label">所属课程</label>
                                    <div class="col-sm-9">
                                        <select id="selectCourse_add" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectTeacher" class="col-sm-3 control-label">上课教师</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtTeacher" name="txtTeacher" placeholder="输入授课教师姓名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtAddress" class="col-sm-3 control-label">教室</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtAddress" name="txtAddress" placeholder="输入教室名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtMaxCount" class="col-sm-3 control-label">额定人数</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtMaxCount" name="txtMaxCount" placeholder="输入班级额定人数">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-mb-3 col-sm-3 control-label">收费方式</label>
                                    <div class="col-mb-9 col-sm-9">
                                        <div class="tabbable" id="tabs-785877">
                                            <div id="orderBtnGroup" class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                                                    <input type="radio" name="options" id="option1" value="课时" tag="#panel-921416">按课时
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" id="option2" value="时间" tag="#panel-201259">按时间
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="radio" name="options" id="option3" value="学期" tag="#panel-201254">按学期
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row tab-pane" id="panel-921416">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtStandard1" class="col-sm-3 control-label">收费标准</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtStandard1" name="txtStandard1">
                                    </div>
                                    <label for="txtStandard1" class="col-sm-3">元/课时</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">开课时间</label>
                                    <div class="col-sm-6">
                                        <div class='input-group date' id='datepicker1'>
                                            <input id="txtDatepicker1" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtClasshour" class="col-sm-3 control-label">课时数</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtClasshour" name="txtClasshour">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hide tab-pane" id="panel-201259">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtStandard2" class="col-sm-3 control-label">收费标准</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtStandard2" name="txtStandard2">
                                    </div>
                                    <label for="txtStandard2" class="col-sm-3">元/月</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">开课时间</label>
                                    <div class="col-sm-6">
                                        <div class='input-group date' id='datepicker2'>
                                            <input id="txtDatepicker2" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        <div class='input-group date' id='datepicker3'>
                                            <input id="txtDatepicker3"  type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row hide tab-pane" id="panel-201254">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtStandard3" class="col-sm-3 control-label">收费标准</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtStandard3" name="txtStandard3">
                                    </div>
                                    <label for="txtStandard3" class="col-sm-3">元/学期</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">开课时间</label>
                                    <div class="col-sm-6">
                                        <div class='input-group date' id='datepicker4'>
                                            <input id="txtDatepicker4"  type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" class="btn btn-primary" id="btnAddClass">
                        提交
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    <!-- 模态框（Modal）课程表 -->
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" style="float:right;" id="btnDeleteCampus" onclick="deleteCampus();">
                        确定
                    </button>
                    <h5 class="modal-title" id="updateModalLabel">上课时段</h5>
                </div>
                <div class="modal-body">
                    <div id='calendar'>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal）课时编辑 -->
    <div class="modal fade" id="classTimeModal" tabindex="-1" role="dialog" aria-labelledby="classTimeModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="updateModalLabel">课时编辑</h5>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="addClassTimeForm" role="form">
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName" class="col-sm-3 control-label">开始时间</label>
                                    <div class="col-sm-4">
                                        <select id="s_hour" name="s_hour" class="form-control">
                                            <option value="7">07</option>
                                            <option value="8" selected>08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="s_minute" name="s_minute" class="form-control">
                                            <option value="0" selected>00</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName" class="col-sm-3 control-label">结束时间</label>
                                    <div class="col-sm-4">
                                        <select id="e_hour" name="e_hour" class="form-control">
                                            <option value="7">07</option>
                                            <option value="8" selected>08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="e_minute" name="e_minute" class="form-control">
                                            <option value="0" selected>00</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName" class="col-sm-3 control-label">课时备注</label>
                                    <div class="col-sm-8">
                                        <input type='text' class="form-control" id="classTimeRemark" placeholder="备注..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="footerAdd" class="modal-footer ">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" id="btnPushCT" onclick="pushClassTime();">
                        确定
                    </button>
                </div>
                <div id="footerEdit" class="modal-footer hide">
                    <button type="button" class="btn btn-group" data-dismiss="modal" onclick="deleteClassTime();">
                        删除
                    </button>
                    <button type="button" class="btn btn-primary" id="btnUpdateCT" onclick="updateClassTime();">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal）是否确定删除 -->
    <div class="modal fade" id="deleteClassModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="updateModalLabel">提示</h5>
                </div>
                <div class="modal-body">
                    <p>确认要删除该数据吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" id="btnDeleteCampus" onclick="deleteClass();">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script>
    var attendClass = [];
    var currentClassId = 0;
    var currentCampusId = 0;
    var currentClassTimeId = 0;
    var selectedCourseId = 0;
    var selDate;
    var feeTypeName = "课时";
    var firstShowCalendar = true;
    var editStartTime, editEndTime;
    function showUpdateClassModal(e) {
        currentClassId = e.dataset.val;
        var className = e.dataset.name;
        $("#addClassModalLabel").html(className + "-编辑");
        initForm();
        var classModels = @Html.Raw(Json.Encode(Model));
        $.each(classModels, function (tempindex, item) {
            if(item.Id==currentClassId)
            {
                $("#txtClassName").val(item.Name);
                $("#selectCampus").val(item.SchoolRegionId);
                $("#selectCourse_add").val(item.CourseId);
                $("#txtTeacher").val(item.Teacher);
                $("#txtMaxCount").val(item.MaxCount);
                $("#txtAddress").val(item.Address);
                var UnitPrice, StartDate, EndDate, ClassHour;
                $("#orderBtnGroup").children().removeClass("active"); 
                switch (item.FeeType) {
                    case '课时':
                        $('#option1').click();
                        $('#orderBtnGroup').find('label').eq(0).addClass("active"); 
                        $("#txtStandard1").val(item.UnitPrice);
                        $("#txtDatepicker1").val(ChangeDateFormat(item.StartDate))
                        $("#txtClassHour").val(item.ClassHour);
                        break;
                    case '时间':
                        $('#option2').click();
                        $('#orderBtnGroup').find('label').eq(1).addClass("active"); 
                        $("#txtStandard2").val(item.UnitPrice);
                        $("#txtDatepicker2").val(ChangeDateFormat(item.StartDate))
                        $("#txtDatepicker3").val(ChangeDateFormat(item.EndDate))
                        break;
                    case '学期':
                        $('#option3').click();
                        $('#orderBtnGroup').find('label').eq(2).addClass("active"); 
                        $("#txtStandard3").val(item.UnitPrice);
                        $("#txtDatepicker4").val(ChangeDateFormat(item.EndDate))
                        break;

                }
            }
        })
    }
    function showDeleteClassAlert(e) {
        currentClassId = e.dataset.val;
    }
    function deleteClass() {
        $.ajax({
            url: "DeleteClass",
            type: "delete",
            data: JSON.stringify({ "ClassId": currentClassId }),
            contentType: 'application/json',
            success: function (data) {
                var result = JSON.parse(data);
                if (result.code === 200) {
                    window.location.reload();
                }
            }
        });
    }
    function deleteClassTime() {
        if (confirm("确定要删除该条数据吗？")) {
            $.ajax({
                url: "DeleteAttendClass",
                type: "delete",
                data: JSON.stringify({ "attendClassId": currentClassTimeId }),
                contentType: 'application/json',
                success: function (data) {
                    var result = JSON.parse(data);
                    if (result.code === 200) {
                        $("#calendar").fullCalendar('refetchEvents');
                    }
                }
            });
        }
    }
    function updateClassTime() {
        var startTime = new Date(editStartTime.year(), editStartTime.month(), editStartTime.date(), $("#s_hour").val(), $("#s_minute").val());
        var endTime = new Date(editEndTime.year(), editEndTime.month(), editEndTime.date(), $("#e_hour").val(), $("#e_minute").val());
        $('#classTimeModal').modal('hide');
        var classTimeObj = {
            'AttendClassId': currentClassTimeId, 'BeginTime': startTime, 'EndTime': endTime, 'Teacher': "", 'Remark': $("#classTimeRemark").val(), 'ClassRoom': ""
        };
        $.ajax({
            url: "UpdateAttendClass",
            type: "post",
            data: JSON.stringify(classTimeObj),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                if (result.code === 200) {
                    $("#calendar").fullCalendar('refetchEvents');
                }
            }
        });
    }

    function pushClassTime() {
        var startTime = new Date(selDate.year(), selDate.month(), selDate.date(), $("#s_hour").val(), $("#s_minute").val());
        var endTime = new Date(selDate.year(), selDate.month(), selDate.date(), $("#e_hour").val(), $("#e_minute").val());

        attendClass.push({ "BeginWeek": selDate.weekday(), "BeginTime": startTime, "EndWeek": selDate.weekday(), "EndTime": endTime });
        $('#classTimeModal').modal('hide')
        var classTimeObj = {
            'SchoolRegionId': currentCampusId, 'ClassId': currentClassId, 'BeginWeek': selDate.weekday(), 'EndWeek': selDate.weekday(), 'BeginTime': startTime, 'EndTime': endTime, 'Teacher': "", 'Remark': $("#classTimeRemark").val(), 'ClassRoom': ""
        };
        $.ajax({
            url: "AddAttendClass",
            type: "post",
            data: JSON.stringify(classTimeObj),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                if (result.code === 200) {
                    $("#calendar").fullCalendar('refetchEvents');
                }
            }
        });
    }


    function showCreateObjModal() {
        $("#addClassModalLabel").html("添加班级");
        initForm();
    }
    function initForm() {
        getCourseType("selectCourseType_add");
        getCampus("selectCampus");

    }
    function initCalendar(e) {
        currentClassId = e.dataset.val;
        currentCampusId = e.dataset.region;
        if (!firstShowCalendar)//如果不是第一次加载
        {
            $("#calendar").fullCalendar('refetchEvents');
        }

        setTimeout(function () {
            $('#calendar').fullCalendar({
                defaultView: 'agendaWeek',
                defaultDate: '2018-04-03',
                editable: false,
                selectable: false,
                edit: function (start, end) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                selectHelper: true,
                eventLimit: true, // allow "more" link when too many events
                header: false,
                allDaySlot: false,
                navLinks: false,
                minTime: '07:00:00',
                maxTime: '22:00:00',
                locale: 'zh-cn',
                columnHeaderFormat: 'ddd',
                events: function (start, end, timezone, callback) {
                    firstShowCalendar = false;
                    var para = { classId: currentClassId };
                    $.ajax({
                        url: "getAttendClassByClassId",
                        type: "post",
                        data: JSON.stringify(para),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data != "") {
                                var result = JSON.parse(data);
                                var allevents = [];
                                $(result).each(function () {
                                    var eventid = $(this).attr('id');
                                    var eventtitle = $(this).attr('title');
                                    var eventstart = $(this).attr('start');
                                    var eventend = $(this).attr('end');
                                    allevents.push({
                                        id: eventid,
                                        title: eventtitle,
                                        start: eventstart,
                                        end: eventend
                                    });
                                    attendClass.push({ "Id": eventid, "BeginTime": eventstart, "EndTime": eventend, "Remark": eventtitle, "CreateBy": 0, "ModifyBy": 0, "IsDelete": 0 });
                                });
                                callback(allevents);
                            }
                        }
                    });
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    $("#footerAdd").removeClass("hide");
                    $("#footerEdit").addClass("hide");
                    //selDate = $.fullCalendar.formatDate(date, 'yyyy-MM-dd');
                    selDate = date;
                    $("#s_hour").val(date.hour());
                    $("#s_minute").val(date.minute());
                    $('#classTimeModal').modal('show')

                },
                eventClick: function (calEvent, jsEvent, view) {
                    $("#footerEdit").removeClass("hide");
                    $("#footerAdd").addClass("hide");
                    editStartTime = calEvent.start;
                    editEndTime = calEvent.end;
                    var shour = parseInt(calEvent.start.format('HH'));
                    var sminute = parseInt(calEvent.start.format('mm'));
                    var ehour = parseInt(calEvent.end.format('HH'));
                    var eminute = parseInt(calEvent.end.format('mm'));
                    currentClassTimeId = calEvent.id;
                    $("#s_hour").val(shour.toString());
                    $("#s_minute").val(sminute.toString());
                    $("#e_hour").val(ehour.toString());
                    $("#e_minute").val(eminute.toString());
                    $("#classTimeRemark").val(calEvent.title);

                    $('#classTimeModal').modal('show')
                }
            });
        }, 100);
    }
    $(document).ready(function () {
        $('input:radio[name="options"]').change(function () {
            $(".tab-pane").addClass("hide");
            $(this.attributes.tag.value).removeClass("hide");
            feeTypeName = $(this).attr("value");
        });
        //$("#boxscroll").niceScroll({ cursorborder: "", cursorcolor: "#00F", boxzoom: false }); // First scrollable DIV
        $('#addClassForm')
            .bootstrapValidator({
                message: '值不能为空',
                submitButtons: '#btnAddCampus',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    txtName: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '角色名称不能为空'
                            }
                        }
                    }
                }
            });
        $('#updateForm')
            .bootstrapValidator({
                message: '值不能为空',
                submitButtons: '#btnAddRole',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    txtUpdateName: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '角色名称不能为空'
                            }
                        }
                    }
                }
            });
        $("#btnAddClass")
            .click(function () {
                $("#addClassForm").bootstrapValidator('validate'); //提交验证
                if ($("#addClassForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                    //验证成功后的操作，如ajax
                    var Name = $("#txtClassName").val();
                    var SchoolRegionId = $("#selectCampus").val();
                    var CourseId = $("#selectCourse_add").val();
                    var Teacher = $("#txtTeacher").val();
                    var FeeType = feeTypeName;
                    var MaxCount = $("#txtMaxCount").val();
                    var Address = $("input[ name='txtAddress']").val();
                    var UnitPrice, StartDate, EndDate, ClassHour;
                    switch (feeTypeName) {
                        case '课时': 
                            UnitPrice = $("#txtStandard1").val();
                            StartDate = $("#datepicker1").data().date;
                            ClassHour = $("input[ name='txtClassHour']").val();
                            break;
                        case '时间':
                            UnitPrice = $("#txtStandard2").val();
                            StartDate = $("#datepicker2").data().date;
                            EndDate = $("#datepicker3").data().date;
                            break;
                        case '学期':
                            UnitPrice = $("#txtStandard3").val();
                            StartDate = $("#datepicker4").data().date;
                            break;

                    }
                    var classObj = {
                        'Name': Name, 'SchoolRegionId': SchoolRegionId, 'CourseId': CourseId, 'Address': Address, 'Teacher': Teacher, 'FeeType': FeeType, 'MaxCount': MaxCount, 'UnitPrice': UnitPrice, 'StartDate': StartDate, 'EndDate': EndDate, 'ClassHour': ClassHour
                    };
                    if($("#addClassModalLabel").val()=="添加班级")
                    {
                        $.ajax({
                            url: "AddClass",
                            type: "post",
                            data: JSON.stringify(classObj),
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                var result = JSON.parse(data);
                                if (result.code === 200) {
                                    window.location.reload();
                                }
                            }
                        });
                    }
                    else{
                        classObj.ClassId =currentClassId;
                        $.ajax({
                            url: "UpdateClass",
                            type: "post",
                            data: JSON.stringify(classObj),
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                var result = JSON.parse(data);
                                if (result.code === 200) {
                                    window.location.reload();
                                }
                            }
                        });
                    }
                }
            });
        $("#btnUpdateCampus")
            .click(function () {
                $("#updateForm").bootstrapValidator('validate'); //提交验证
                if ($("#updateForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                    //验证成功后的操作，如ajax
                    var campusname = $("#txtCampusName_edit").val();
                    var campustype = $("#selectCampusType_edit").val();
                    var contract = $("#txtContract_edit").val();
                    var contracttel = $("#txtContractTel_edit").val();
                    var tel = $("#txtTel_edit").val();
                    var address = $("#txtAddress_edit").val();
                    var campus = { CampusId: currentCampusId, CampusName: campusname, CampusType: campustype, Tel: tel, Address: address, Contract: contract, ContractTel: contracttel };
                    $.ajax({
                        url: "Update",
                        type: "put",
                        data: JSON.stringify(campus),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var result = JSON.parse(data);
                            if (result.code === 200) {
                                window.location.reload();
                            }
                        }
                    });
                }
            });
        $("#todo-btn-submit").click(function () {
            var startWeek = $("#selectWeek1 option:selected").text();
            var startTime = $("#timepicker1").data().date;
            var endWeek = $("#selectWeek2 option:selected").text();
            var endTime = $("#timepicker2").data().date;
            attendClass.push({ "BeginWeek": $("#selectWeek1").val(), "BeginTime": startTime, "EndWeek": $("#selectWeek2").val(), "EndTime": endTime });
            $("#boxscroll").append("<p>" + startWeek + " " + startTime + "---" + endWeek + " " + endTime + "</p>");

            $("#boxscroll").getNiceScroll().resize();
        });
        $("#selectCourseType_add").change(function () {
            selectedCourseId = $(this).val();
            getCourseList("selectCourse_add", selectedCourseId);
        });
        Datetime();

    });
    function Datetime() {
        $('#datepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datepicker3').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datepicker4').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#timepicker1').datetimepicker({
            format: 'LT'
        });
        $('#timepicker2').datetimepicker({
            format: 'LT'
        });
    }
</script>