@model IEnumerable<Edu.Model.Core.Classes>
@{
    ViewBag.Title = "班级列表";
}

<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<link href="~/Content/ztree/zTreeStyle.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.core.min.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.excheck.min.js"></script>
<script src="~/Scripts/bootstrapValidator.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="~/Scripts/jquery.nicescroll.min.js"></script>

<link href='~/Content/calendar/fullcalendar.min.css' rel='stylesheet' />
<link href='~/Content/calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='~/Scripts/calendar/moment.min.js'></script>
<script src='~/Scripts/calendar/fullcalendar.min.js'></script>
<script src='~/Scripts/calendar/locale-all.js'></script>
<ol class="breadcrumb">
    <li>班级管理</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" data-toggle="modal" data-target="#addModal" onclick="showCreateObjModal();">添加班级</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>所属校区</th>
                    <th>课程名称</th>
                    <th>班级名称</th>
                    <th>计费方式</th>
                    <th>单价</th>
                    <th>教师</th>
                    <th>开班日期</th>
                    <th>额定学生数</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SchoolRegionName</td>
                        <td>@item.CourseName</td>
                        <td>@item.Name</td>
                        <td>@item.FeeType</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Teacher</td>
                        <td>@item.StartDate</td>
                        <td>@item.MaxCount</td>
                        <td>@item.Status</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a onclick="initCalendar(this);" data-toggle="modal" data-target="#calendarModal" data-val="@item.Id" data-name="@item.Name" data-address="@item.Address">上课时段</a></li>
                                    <li><a onclick="showUpdateCampusModal(this);" data-toggle="modal" data-target="#updateCampusModal" data-val="@item.Id" data-name="@item.Name" data-address="@item.Address">编辑</a></li>
                                    <li><a onclick="showDeleteCampusAlert(this);" data-toggle="modal" data-target="#deleteCampusModal" data-val="@item.Id" data-text="@item.Name">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- 模态框（Modal）创建班级 -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog" style="width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="addModalLabel">添加班级</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal" id="addForm" role="form">
                            <div class="row">
                                <div class="col-mb-5 col-sm-5">
                                    <div class="form-group">
                                        <label for="txtClassName" class="col-sm-3 control-label">班级名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="txtClassName" name="txtClassName" placeholder="请输入名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectCampus_add" class="col-sm-3 control-label">所属校区</label>
                                        <div class="col-sm-9">
                                            <select id="selectCampus_add" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectCourseType_add" class="col-sm-3 control-label">课程类别</label>
                                        <div class="col-sm-9">
                                            <select id="selectCourseType_add" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectCourse_add" class="col-sm-3 control-label">所属课程</label>
                                        <div class="col-sm-9">
                                            <select id="selectCourse_add" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectTeacher_add" class="col-sm-3 control-label">上课教师</label>
                                        <div class="col-sm-9">
                                            <select id="selectTeacher_add" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtAddress" class="col-sm-3 control-label">地址</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="3" id="txtAddress" name="txtAddress" placeholder="请输入地址"></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-mb-7 col-sm-7">
                                    <div class="form-group">
                                        <label for="selectCourse_add" class="col-mb-3 col-sm-3 control-label">收费方式</label>
                                        <div class="col-mb-9 col-sm-9">
                                            <div class="tabbable" id="tabs-785877">
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#panel-921416" data-toggle="tab">按课时</a>
                                                    </li>
                                                    <li>
                                                        <a href="#panel-201259" data-toggle="tab">按时间</a>
                                                    </li>
                                                    <li>
                                                        <a href="#panel-201254" data-toggle="tab">按学期</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="panel-921416">
                                                        <br />
                                                        <div class="form-group">
                                                            <label for="txtStandard1" class="col-sm-3 control-label">收费标准</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="txtStandard1" name="txtStandard1"></>
                                                            </div>
                                                            <label for="txtStandard1" class="col-sm-3 control-label">元/课时</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">开课时间</label>
                                                            <div class="col-sm-6">
                                                                <div class='input-group date' id='datepicker1'>
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtClasshour" class="col-sm-3 control-label">课时数</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="txtClasshour" name="txtClasshour"></>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="panel-201259">
                                                        <br />
                                                        <div class="form-group">
                                                            <label for="txtStandard2" class="col-sm-3 control-label">收费标准</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="txtStandard2" name="txtStandard2"></>
                                                            </div>
                                                            <label for="txtStandard2" class="col-sm-3 control-label">元/月</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">开课时间</label>
                                                            <div class="col-sm-6">
                                                                <div class='input-group date' id='datepicker2'>
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <div class='input-group date' id='datepicker3'>
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="panel-201254">
                                                        <br />
                                                        <div class="form-group">
                                                            <label for="txtStandard3" class="col-sm-3 control-label">收费标准</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="txtStandard3" name="txtStandard3"></>
                                                            </div>
                                                            <label for="txtStandard3" class="col-sm-3 control-label">元/学期</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">开课时间</label>
                                                            <div class="col-sm-6">
                                                                <div class='input-group date' id='datepicker4'>
                                                                    <input type='text' class="form-control" />
                                                                    <span class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectCourse_add" class="col-mb-3 col-sm-3 control-label">上课时段</label>
                                        <div class="col-mb-9 col-sm-9">
                                            <div style="max-height: 88px;min-height: 56px;border: 1px solid #e5e5e5;overflow: auto;" id="boxscroll">

                                            </div>

                                            <form name="todo-form" id="todo-form" role="form" class="m-t-20">
                                                <div class="row">
                                                    <div class="col-sm-1 todo-inputbar">
                                                        <span>从</span>
                                                    </div>
                                                    <div class="col-sm-4 todo-inputbar">
                                                        <select id="selectWeek1" class="form-control">
                                                            <option value="1">星期一</option>
                                                            <option value="2">星期二</option>
                                                            <option value="3">星期三</option>
                                                            <option value="4">星期四</option>
                                                            <option value="5">星期五</option>
                                                            <option value="6">星期六</option>
                                                            <option value="7">星期日</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-5 todo-inputbar">
                                                        <div class='input-group date' id='timepicker1'>
                                                            <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-1 todo-inputbar">
                                                        <span>到</span>
                                                    </div>
                                                    <div class="col-sm-4 todo-inputbar">
                                                        <select id="selectWeek2" class="form-control">
                                                            <option value="1">星期一</option>
                                                            <option value="2">星期二</option>
                                                            <option value="3">星期三</option>
                                                            <option value="4">星期四</option>
                                                            <option value="5">星期五</option>
                                                            <option value="6">星期六</option>
                                                            <option value="7">星期日</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-5 todo-inputbar">
                                                        <div class='input-group date' id='timepicker2'>
                                                            <input type='text' class="form-control" />
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-time"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 todo-send">
                                                        <button class="btn-info btn-block btn waves-effect waves-light" type="button" id="todo-btn-submit">添加</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btnAddClass">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 模态框（Modal）课程表 -->
        <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-default" style="float:right;" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" style="float:right;" id="btnDeleteCampus" onclick="deleteCampus();">
                            确定
                        </button>
                        <h5 class="modal-title" id="updateModalLabel">上课时段</h5>
                    </div>
                    <div class="modal-body">
                        <div id='calendar'>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 模态框（Modal）课时编辑 -->
        <div class="modal fade" id="classTimeModal" tabindex="-1" role="dialog" aria-labelledby="classTimeModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog" style="width:500px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="updateModalLabel">课时编辑</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal" id="addForm" role="form">
                            <div class="row">
                                <div class="col-mb-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="txtClassName" class="col-sm-3 control-label">开始时间</label>
                                        <div class="col-sm-4">
                                            <select name="s_hour" class="form-control">
                                                <option value="07">07</option>
                                                <option value="08" selected>08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="s_minute" class="form-control">
                                                <option value="00" selected>00</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="40">40</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-mb-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="txtClassName" class="col-sm-3 control-label">结束时间</label>
                                        <div class="col-sm-4">
                                            <select name="s_hour" class="form-control">
                                                <option value="07">07</option>
                                                <option value="08" selected>08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="s_minute" class="form-control">
                                                <option value="00" selected>00</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="40">40</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-mb-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="txtClassName" class="col-sm-3 control-label">课时备注</label>
                                        <div class="col-sm-8">
                                            <input type='text' class="form-control" placeholder="备注..." />
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" id="btnDeleteCampus" onclick="deleteCampus();">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 模态框（Modal）是否确定删除 -->
        <div class="modal fade" id="deleteCampusModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="updateModalLabel">提示</h5>
                    </div>
                    <div class="modal-body">
                        <p>确认要删除该数据吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" id="btnDeleteCampus" onclick="deleteCampus();">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
<script>
    var attendClass = [];
    var currentCampusId = 0;
    var selectedCourseId = 0;
    function showUpdateCampusModal(e) {
        var campusId = e.dataset.val;
        var campusName = e.dataset.name;
        var campusType = e.dataset.type;
        var tel = e.dataset.tel;
        var address = e.dataset.address;
        var contract = e.dataset.contract;
        var contract_tel = e.dataset.contracttel;
        $("#updateModalLabel").html(campusName + "-编辑");
        $("#txtCampusName_edit").val(campusName);
        $("#selectCampusType_edit").val(campusType);
        $("#txtContract_edit").val(contract);
        $("#txtContractTel_edit").val(contract_tel);
        $("#txtTel_edit").val(tel);
        $("#txtAddress_edit").val(address);
        currentCampusId = campusId;
    }
    function showDeleteCampusAlert(e) {
        var campusId = e.dataset.val;
        currentCampusId = campusId;
    }
    function deleteCampus() {
        $.ajax({
            url: "Delete",
            type: "delete",
            data: JSON.stringify({ "campusId": currentCampusId }),
            contentType: 'application/json',
            success: function (data) {
                var result = JSON.parse(data);
                if (result.code === 200) {
                    window.location.reload();
                }
            }
        });
    }

    function showCreateObjModal() {
        //$("#addModalLabel").html("新增" + feeType);
        initForm();
    }
    function initForm() {
        getCourseType("selectCourseType_add");
        getCampus("selectCampus_add");
    }
    function initCalendar(e) {
        setTimeout(function () {
            $('#calendar').fullCalendar({
                defaultView: 'agendaWeek',
                defaultDate: '2018-04-03',
                editable: true,
                selectable: false,
                edit: function (start, end) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                selectHelper: true,
                eventLimit: true, // allow "more" link when too many events
                header: false,
                allDaySlot: false,
                navLinks: false,
                minTime: '07:00:00',
                maxTime: '22:00:00',
                locale: 'zh-cn',
                columnHeaderFormat: 'ddd',
                events: function (start, end, timezone, callback) {
                    var para = { classId: e.dataset.val };
                    $.ajax({
                        url: "getAttendClassByClassId",
                        type: "post",
                        data: JSON.stringify(para),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            if (data != "") {
                                var result = JSON.parse(data);
                                var allevents = [];
                                $(result).each(function () {
                                    allevents.push({
                                        title: '12345678',
                                        start: $(this).attr('start'),
                                        end: $(this).attr('end')
                                    });
                                });
                                callback(allevents);
                            }
                        }
                    });
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    var selDate = $.fullCalendar.formatDate(date, 'yyyy-MM-dd');
                    $('#classTimeModal').modal('show')
                },
                eventClick: function (calEvent, jsEvent, view) {
                    alert(jsEvent);
                }
            });
        }, 100);
    }
    $(document).ready(function () {
        //$("#boxscroll").niceScroll({ cursorborder: "", cursorcolor: "#00F", boxzoom: false }); // First scrollable DIV
        $('#addForm')
            .bootstrapValidator({
                message: '值不能为空',
                submitButtons: '#btnAddCampus',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    txtName: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '角色名称不能为空'
                            }
                        }
                    }
                }
            });
        $('#updateForm')
            .bootstrapValidator({
                message: '值不能为空',
                submitButtons: '#btnAddRole',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    txtUpdateName: {
                        message: '用户名验证失败',
                        validators: {
                            notEmpty: {
                                message: '角色名称不能为空'
                            }
                        }
                    }
                }
            });
        $("#btnAddClass")
            .click(function () {
                $("#addForm").bootstrapValidator('validate'); //提交验证
                if ($("#addForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                    //验证成功后的操作，如ajax
                    //var campusname = $("#txtCampusName").val();
                    //var campustype = $("#selectCampusType").val();
                    //var contract = $("#txtContract").val();
                    //var contracttel = $("#txtContractTel").val();
                    //var tel = $("#txtTel").val();
                    //var address = $("#txtAddress").val();
                    //var campus = { CampusName: campusname, CampusType: campustype, Tel: tel, Address: address, Contract: contract, ContractTel: contracttel };
                    $.ajax({
                        url: "AddAtttendClass",
                        type: "post",
                        data: JSON.stringify(attendClass),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var result = JSON.parse(data);
                            if (result.code === 200) {
                                window.location.reload();
                            }
                        }
                    });
                }
            });
        $("#btnUpdateCampus")
            .click(function () {
                $("#updateForm").bootstrapValidator('validate'); //提交验证
                if ($("#updateForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                    //验证成功后的操作，如ajax
                    var campusname = $("#txtCampusName_edit").val();
                    var campustype = $("#selectCampusType_edit").val();
                    var contract = $("#txtContract_edit").val();
                    var contracttel = $("#txtContractTel_edit").val();
                    var tel = $("#txtTel_edit").val();
                    var address = $("#txtAddress_edit").val();
                    var campus = { CampusId: currentCampusId, CampusName: campusname, CampusType: campustype, Tel: tel, Address: address, Contract: contract, ContractTel: contracttel };
                    $.ajax({
                        url: "Update",
                        type: "put",
                        data: JSON.stringify(campus),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var result = JSON.parse(data);
                            if (result.code === 200) {
                                window.location.reload();
                            }
                        }
                    });
                }
            });
        $("#todo-btn-submit").click(function () {
            var startWeek = $("#selectWeek1 option:selected").text();
            var startTime = $("#timepicker1").data().date;
            var endWeek = $("#selectWeek2 option:selected").text();
            var endTime = $("#timepicker2").data().date;
            attendClass.push({ "BeginWeek": $("#selectWeek1").val(), "BeginTime": startTime, "EndWeek": $("#selectWeek2").val(), "EndTime": endTime });
            $("#boxscroll").append("<p>" + startWeek + " " + startTime + "---" + endWeek + " " + endTime + "</p>");

            $("#boxscroll").getNiceScroll().resize();
        });
        $("#selectCourseType_add").change(function () {
            selectedCourseId = $(this).val();
            getCourseList("selectCourse_add", selectedCourseId);
        });
        Datetime();

    });
    function Datetime() {
        $('#datepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datepicker2').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datepicker3').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#datepicker4').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#timepicker1').datetimepicker({
            format: 'LT'
        });
        $('#timepicker2').datetimepicker({
            format: 'LT'
        });
    }
</script>