@model IEnumerable<Edu.Model.Core.Course>
@{
    ViewBag.Title = "课程列表";
}

<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<link href="~/Content/ztree/zTreeStyle.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ztree/jquery.ztree.core.min.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.excheck.min.js"></script>
<script src="~/Scripts/bootstrapValidator.js"></script>

<ol class="breadcrumb">
    <li>课程设置</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" data-toggle="modal" data-target="#addModal" onclick="initCourseTypeList();">添加课程</button>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>课程类别</th>
                    <th>课程名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.CourseTypeName</td>
                        <td>@item.CourseName</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    操作 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a onclick="showUpdateObjModal(this);" data-toggle="modal" data-target="#updateCourseModal" data-val="@item.Id" data-name="@item.CourseName" data-descp="@item.CourseTypeName">编辑</a></li>
                                    <li><a onclick="showDeleteObjAlert(this);" data-toggle="modal" data-target="#deleteObjModal" data-val="@item.Id" data-text="@item.CourseName">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- 模态框（Modal）编辑课程类别 -->
        <div class="modal fade" id="updateCourseModal" tabindex="-1" CourseType="dialog" aria-labelledby="updateModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="updateModalLabel"></h5>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-horizontal" CourseType="form" id="updateForm">
                                <div class="form-group">
                                    <label for="txtName" class="col-sm-3 control-label">课程类别</label>
                                    <div class="col-sm-9">
                                        <select id="selectCourseType_edit" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtUpdateName" class="col-sm-3 control-label">课程名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtUpdateName" name="txtUpdateName" placeholder="请输入课程名称">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" id="btnUpdateCourse">
                            提交更改
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 模态框（Modal）创建课程类别 -->
        <div class="modal fade" id="addModal" tabindex="-1" CourseType="dialog" aria-labelledby="addModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="addModalLabel">添加课程</h5>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-horizontal" id="addForm" CourseType="form">
                                <div class="form-group">
                                    <label for="txtName" class="col-sm-3 control-label">课程类别</label>
                                    <div class="col-sm-9">
                                        <select id="selectCourseType_add" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtName" class="col-sm-3 control-label">课程名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtName" name="txtName" placeholder="请输入课程类别名称">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary" id="btnAddCourse">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 模态框（Modal）是否确定删除 -->
        <div class="modal fade" id="deleteObjModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h5 class="modal-title" id="updateModalLabel">提示</h5>
                    </div>
                    <div class="modal-body">
                        <p>确认要删除该数据吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" id="btnDeleteObj" onclick="deleteObj();">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
<script>
    var currentCourseId = 0;
    function showDeleteObjAlert(e) {
        var ctId = e.dataset.val;
        currentCourseId = ctId;
    }
    function showUpdateObjModal(e) {
        var ctId = e.dataset.val;
        var ctName = e.dataset.name;
        var desc = e.dataset.descp;
        $("#updateModalLabel").html(ctName + "-编辑");
        initCourseTypeList();
        $("#txtUpdateName").val(ctName);
        $("#selectCourseType_edit").val(desc);
        currentCourseId = ctId;
    }
    function deleteObj() {
        $.ajax({
            url: "DeleteCourse",
            type: "delete",
            data: JSON.stringify({ "ctId": currentCourseId }),
            contentType: 'application/json',
            success: function (data) {
                var result = JSON.parse(data);
                if (result.code === 200) {
                    window.location.reload();
                }
            }
        });
    }
    function initCourseTypeList() {
        $.ajax({
            url: "getAllCourseTypes",
            type: "post",
            //data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                if (result.length > 0) {
                    for (var index = 0; index < result.length; index++) {
                        var item = result[index];
                        $('#selectCourseType_add').append("<option selected value='" + item.id + "'>" + item.courseTypeName + "</option>");
                        $('#selectCourseType_edit').append("<option selected value='" + item.id + "'>" + item.courseTypeName + "</option>");
                    }
                }
            }
        });
    }
    $(document)
           .ready(function () {
               $('#addForm')
                   .bootstrapValidator({
                       message: '值不能为空',
                       submitButtons: '#btnAddCourse',
                       feedbackIcons: {
                           valid: 'glyphicon glyphicon-ok',
                           invalid: 'glyphicon glyphicon-remove',
                           validating: 'glyphicon glyphicon-refresh'
                       },
                       fields: {
                           txtName: {
                               message: '用户名验证失败',
                               validators: {
                                   notEmpty: {
                                       message: '角色名称不能为空'
                                   }
                               }
                           }
                       }
                   });
               $('#updateForm')
                   .bootstrapValidator({
                       message: '值不能为空',
                       submitButtons: '#btnAddCourse',
                       feedbackIcons: {
                           valid: 'glyphicon glyphicon-ok',
                           invalid: 'glyphicon glyphicon-remove',
                           validating: 'glyphicon glyphicon-refresh'
                       },
                       fields: {
                           txtUpdateName: {
                               message: '用户名验证失败',
                               validators: {
                                   notEmpty: {
                                       message: '角色名称不能为空'
                                   }
                               }
                           }
                       }
                   });
               $("#btnAddCourse")
                   .click(function () {
                       $("#addForm").bootstrapValidator('validate'); //提交验证
                       if ($("#addForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                           //验证成功后的操作，如ajax
                           var ctId = $("#selectCourseType_add").val();
                           var name = $("#txtName").val();
                           var CourseObj = { CourseTypeId: ctId, CourseName: name };
                           $.ajax({
                               url: "AddCourse",
                               type: "post",
                               data: JSON.stringify(CourseObj),
                               contentType: 'application/json; charset=utf-8',
                               success: function (data) {
                                   var result = JSON.parse(data);
                                   if (result.code === 200) {
                                       window.location.reload();
                                   }
                               }
                           });
                       }
                   });
               $("#btnUpdateCourse")
                   .click(function () {
                       $("#updateForm").bootstrapValidator('validate'); //提交验证
                       if ($("#updateForm").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码
                           //验证成功后的操作，如ajax
                           var ctId = $("#selectCourseType_edit").val();
                           var name = $("#txtUpdateName").val();
                           var model = {
                               CourseTypeId: ctId,
                               CourseName: name,
                               CourseId: currentCourseId
                           };
                           $.ajax({
                               url: "UpdateCourse",
                               type: "put",
                               data: JSON.stringify(model),
                               contentType: 'application/json; charset=utf-8',
                               success: function (data) {
                                   var result = JSON.parse(data);
                                   if (result.code === 200) {
                                       window.location.reload();
                                   }
                               }
                           });
                       }
                   });
           });
</script>
